*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 45px;
    color: rgba(30, 144, 255, .6);
}

.img_1{
    width: 330px;
    height: 230px;
    position: absolute;
    top: 75px; left: 91px;
    z-index: 5;
    box-shadow: 3px 3px 10px #708090;
}

.img_2{
    width: 330px;
    height: 230px;
    position: absolute;
    top: 5px; left: 295px;
    z-index: 2;
    border-radius: 30px 0;
    box-shadow: 3px 3px 10px #708090;
}

.img_3{
    width: 330px;
    height: 230px;
    position: absolute;
    top: 186px; left: 0px;
    z-index: 2;
    border-radius: 30px 0;
    box-shadow: 3px 3px 10px #708090;
}

.cont{
    padding-top: 50px;
}

.block_1{
    height: 950px;
    margin-bottom: 50px;
    background-color: hsla(240, 67%, 94%, .5);
}

.block_2{
    height: 950px;
    margin-bottom: 50px;
    background-color: hsla(48, 100%, 93%, .5);
}

.block_3{
    height: 950px;
    margin-bottom: 50px;
    background-color: hsla(120, 100%, 97%, .5);
}

.img{
    margin-top: 20px;
    width: 500px;
    height: 450px;
    position: relative;
}

.c_text{
    padding-top: 80px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: rgba(255, 215, 0, .8);
}

.text{
    width: 500px;
    margin: 0 auto;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: rgba(70, 130, 180, .9);
}

.f_block{
    width: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #fff;
    height: 420px;
    border-radius: 4px;
    padding: 30px 40px;
}

form label{
    font-size: 17px;
    color: rgba(0, 0, 0, .7);
    font-weight: 500;
    margin-right: 10px;
}

form select{
    background: #F4F5F7;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    width: 150px;
    height: 35px;
}

form select{
    margin-bottom: 20px;
}

form input{
    margin-bottom: 20px;
}

.radio{
    margin-left: 8px;
}

form button{
    width: 174px;
    height: 44px;
    font-weight: 700;
    font-size: 14px;
    background: #FF5A30;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
}

form button:hover{
    background-color: #fa3f10;
    border: none;
    color: #fff;
}
